*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.metadata
.project
bin/*
tmp/*
*.tmp
*.bak
.classpath
.settings/
.loadpath
Pacman/javadoc
Pacman/src/ghosts
Pacman/src/pacman
Pacman/src/util
Pacman/src/player/DFSPacmanPlayer.java
Pacman/src/player/SimplePacmanPlayer.java
Pacman/src/player/package.html
Pacman/src/player/DFSPacManPlayer.java
Pacman/src/player/SimplePacManPlayer.java
Atividade 3 - Jogo Da Velha/*
Atividade\ 4\ -\ Jogo\ Da\ Velha\ Especialista/equipe3Especialista/equipe3Especialista.zip
Pacman/bin
JogoVelha/src/humanPlayer
JogoVelha/src/myFirstPlayer/
JogoVelha/src/jogo/
Othello/bin
Othello/src/PlayerOthelloSilla/
Othello/src/PlayerVelhaSilla/
Othello/src/humanPlayer/
Othello/src/jogo/
Othello/src/myFirstPlayer/
PacmanEvo/src/ghosts/
PacmanEvo/src/pacman/Display.java
PacmanEvo/src/pacman/GhostPlayer.java
PacmanEvo/src/pacman/Location.java
PacmanEvo/src/pacman/LocationSet.java
PacmanEvo/src/pacman/Move.java
PacmanEvo/src/pacman/PacManGUIGameBoard.java
PacmanEvo/src/pacman/PacManGUILivesBoard.java
PacmanEvo/src/pacman/PacManGUIScoreBoard.java
PacmanEvo/src/pacman/State.java
PacmanEvo/src/pacman/StateEvaluator.java
PacmanEvo/src/pacman/TextDisplay.java
PacmanEvo/src/pacman/package.html
PacmanEvo/src/util/
PacmanEvo/bin/
Ecj/src/ec/Breeder.java
Ecj/src/ec/BreedingPipeline.java
Ecj/src/ec/BreedingSource.java
Ecj/src/ec/Clique.java
Ecj/src/ec/DefaultsForm.java
Ecj/src/ec/ECDefaults.java
Ecj/src/ec/Evaluator.java
Ecj/src/ec/EvolutionState.java
Ecj/src/ec/Evolve.java
Ecj/src/ec/Exchanger.java
Ecj/src/ec/Finisher.java
Ecj/src/ec/Fitness.java
Ecj/src/ec/Group.java
Ecj/src/ec/Individual.java
Ecj/src/ec/Initializer.java
Ecj/src/ec/Population.java
Ecj/src/ec/Problem.java
Ecj/src/ec/Prototype.java
Ecj/src/ec/README
Ecj/src/ec/SelectionMethod.java
Ecj/src/ec/Setup.java
Ecj/src/ec/Singleton.java
Ecj/src/ec/Species.java
Ecj/src/ec/Statistics.java
Ecj/src/ec/Subpopulation.java
Ecj/src/ec/app/
Ecj/src/ec/breed/
Ecj/src/ec/coevolve/
Ecj/src/ec/de/
Ecj/src/ec/ec.params
Ecj/src/ec/es/
Ecj/src/ec/eval/
Ecj/src/ec/evolve/
Ecj/src/ec/exchange/
Ecj/src/ec/gp/
Ecj/src/ec/multiobjective/
Ecj/src/ec/parsimony/
Ecj/src/ec/pso/
Ecj/src/ec/rule/
Ecj/src/ec/select/
Ecj/src/ec/simple/
Ecj/src/ec/spatial/
Ecj/src/ec/steadystate/
Ecj/src/ec/util/
Ecj/src/ec/vector/
Ecj/bin/

