*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.metadata
.project
*/bin/*
tmp/*
*.tmp
*.bak
.classpath
.settings/
.loadpath
Pacman/javadoc
Pacman/src/ghosts
Pacman/src/pacman
Pacman/src/util
Pacman/src/player/SimplePacManPlayer.java
Pacman/src/player/package.html
JogoVelha/src/humanPlayer
JogoVelha/src/myFirstPlayer/
JogoVelha/src/jogo/
Othello/src/*
!Othello/src/Equipe3Player
PacmanEvo/src/ghosts/
PacmanEvo/src/pacman/*
!PacmanEvo/src/pacman/Game.java
!PacmanEvo/src/pacman/PacManGUI.java
!PacmanEvo/src/pacman/PacManGUIPlayer.java
PacmanEvo/src/util/
Ecj/src/ec/*
!Ecj/src/ec/Pacman
Ecj/src/ec/Pacman/out.stat
