*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.metadata
.project
bin/*
tmp/*
*.tmp
*.bak
.classpath
.settings/
.loadpath
Pacman/javadoc
Pacman/src/ghosts
Pacman/src/pacman
Pacman/src/util
Pacman/src/player/DFSPacmanPlayer.java
Pacman/src/player/SimplePacmanPlayer.java
Pacman/src/player/package.html
Pacman/src/player/DFSPacManPlayer.java
Pacman/src/player/SimplePacManPlayer.java
Atividade 3 - Jogo Da Velha/*
Atividade\ 4\ -\ Jogo\ Da\ Velha\ Especialista/equipe3Especialista/equipe3Especialista.zip
Pacman/bin
JogoVelha/src/humanPlayer
JogoVelha/src/myFirstPlayer/
JogoVelha/src/jogo/
Othello/bin
Othello/src/PlayerOthelloSilla/
Othello/src/PlayerVelhaSilla/
Othello/src/humanPlayer/
Othello/src/jogo/
Othello/src/myFirstPlayer/
PacmanEvo/src/ghosts/
PacmanEvo/src/pacman/Display.java
PacmanEvo/src/pacman/GhostPlayer.java
PacmanEvo/src/pacman/Location.java
PacmanEvo/src/pacman/LocationSet.java
PacmanEvo/src/pacman/Move.java
PacmanEvo/src/pacman/PacManGUIGameBoard.java
PacmanEvo/src/pacman/PacManGUILivesBoard.java
PacmanEvo/src/pacman/PacManGUIScoreBoard.java
PacmanEvo/src/pacman/State.java
PacmanEvo/src/pacman/StateEvaluator.java
PacmanEvo/src/pacman/TextDisplay.java
PacmanEvo/src/pacman/package.html
PacmanEvo/src/util/
PacmanEvo/bin/
